@font-face {
    font-family: "Geometria-light";
    src: url("../fonts/geometria_light.otf");
}

@font-face {
    font-family: "Geometria-Bold";
    src: url("../fonts/geometria_bold.otf");
}

@font-face {
    font-family: "Geometria-medium";
    src: url("../fonts/geometria_medium.otf");
}

@font-face {
    font-family: "Pragmatica-light";
    src: url("../fonts/Pragmatica-Light.ttf");
}

@font-face {
    font-family: "Pragmatica-medium";
    src: url("../fonts/Pragmatica-Medium.ttf");
}

@font-face {
    font-family: "Pragmatica-bold";
    src: url("../fonts/Pragmatica-Bold.ttf");
}


body {
    margin: 0;
    background-color: #F7F3E8;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
}

.width-fix {
    width: 1310px;
    height: 100%;
    margin: 0 auto;
}

.line-up-h {
    width: 100%;
    height: 41px;
    background: #3E3E3E;
}

.f-elemens-line-up {
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 58px;
}

.block-f-elemets span {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.block-f-elemets {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.logo-and-menu {
    display: flex;
}

.logo-header img {
    width: 100px;
    padding-right: 44px;
}

.menu-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background: #AAA28A;
    padding: 36px 40px 36px 40px;
    border-radius: 35px;
}

.menu-header ul {
    padding: 0;
    margin: 0;
}

.sub-menu {
    position: absolute;
    display: none;
    padding: 0 50px !important;
    /* margin-top: 5px !important; */
    z-index: 99999999;
    min-width: 160px;
    clear: both;
    transition: 0.4s;
    background: #F7F3E8;
    left: -100%;
    border: 1px solid #8A8A8A;
}

.sub-menu-with:after {
    content: 'ᐯ';
    position: absolute;
    right: 6px;
}

.menu-header ul li:hover .sub-menu {
    display: block;
    clear: both;
    transition: 0.4s;
}

.sub-menu li {
    display: block !important;
    transition: 0.4s;
    padding: 10px 0 !important;
    text-align: center;
}

.sub-menu li a {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: none !important;
    text-decoration: underline;
    transition: 0.4s;
}

.sub-menu li:hover {
    transition: 0.4s;
}

.wrap-header {
    margin-top: 14px;
}

.menu-header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 22px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    position: relative;

}

.menu-header ul li:first-child {
    padding-left: 0;
}

.menu-header ul li:last-child {
    padding-right: 0;
}

.menu-header ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.block-social-header {
    display: flex;
    padding-left: 34px;
    gap: 14px;
}

main {
    width: 100%;
    height: 100%;
}

.f-blocks-header-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.block-header-title h1 {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    line-height: 59px;
    color: #3E3E3E;
}

.block-text-in-header h4 {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #3E3E3E;
    margin: 0;
}

.two-blocks-footer-in-header {
    display: flex;
    align-items: center;
    gap: 42px;
    justify-content: stretch;
    max-width: 677px;
}

.two-blocks-footer-in-header a {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #3E3E3E;
    border-radius: 20px;
    padding: 24px 12px 24px 12px;
    display: block;
    text-align: center;
}

.bttn-l-in-header a {
    min-width: 253px;
}

.bttn-r-in-header a {
    min-width: 332px;
}

.block-header-title {
    max-width: 815px;
}

.block-text-in-header {
    max-width: 561px;
    margin: 46px 0 55px 0;
}

.block-full-width-in-header {
    margin-top: 14px;
}

.block-full-width-in-header a {
    background: #B39F55;
    border-radius: 20px;
    display: block;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 24px;
    max-width: 626px;
}

.blocks-footer-in-header {
    max-width: 677px;
}

.in-header-left-banner-blocks {
    margin-top: 100px;
}

.line-decor {
    width: 100%;
    height: 174px;
    background-image: url(../../assest/img/line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 34px;
}

.line-decor-2 {
    width: 100%;
    height: 85px;
    background-image: url(../../assest/img/line-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 57px;
}

.master-klass h2 {
    font-size: 45px;
    line-height: 53px;
    color: #3E3E3E;
    margin: 0;
    font-family: 'Oranienbaum', serif;

    text-align: center;
}

.master-klass {
    margin-top: 20px;
}


.tabs, .tabs-kurse {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    border: 3px solid #B39F55;
    border-radius: 50px;
}

.tabs li, .tabs-kurse li {
    float: left;
    border-bottom: none;
    width: 100%;
}

.tabs li:first-child, .tabs-kurse li:first-child {
    border-radius: 30px 0 0 30px;
}

.tabs li:last-child, .tabs-kurse li:last-child {
    border-radius: 0 30px 30px 0;

}

.tabs li a, .tabs-kurse li a {
    display: block;
    padding: 24px;
    color: #000;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    sans-serif;
}

.tabs li a:hover, .tabs-kurse li a:hover {
}

.tabs li.active, .tabs-kurse li.active {
    font-weight: bold;
    background: #B39F55;

}

.tab_container {
    border-top: none;
}

.tab_content, .tab_content-kurse {
    font-size: 16px;
    margin-top: 74px;
}

.block-tabs-home {
    margin-top: 41px;
}

.img-block-f-result-tab img {
    max-width: 420px;
    border-radius: 30px 30px 0 0;
}

.flex-result-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
}

.block-f-result-tab {
    background: #fff;
    border-radius: 30px;
}

.title-block-f-result-tab h4 {
    margin: 0;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.wrap-padding-text {
    padding: 10px 23px 23px 23px
}

.title-block-f-result-tab {
    padding: 8px 23px 0 23px;
}

.text-content-block-f-result-tab {
    font-style: normal;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;

    font-size: 16px;
    line-height: 20px;
}

.price-block-f-result-tab {
    font-size: 18px;
    line-height: 23px;
    font-family: 'PT Sans', sans-serif;

    color: #000;
    padding: 22px 0;
}

.bttns-block-f-result-tab {
    display: flex;
    align-items: center;
    gap: 28px;
}

.bttn-gray-b-f-r-t {
    background: #3E3E3E;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    display: block;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;

}

.block-white-b-f-r-t {
    border-radius: 20px;
    text-decoration: underline;
    border: 1px solid #3E3E3E;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    color: #3E3E3E;
}

.blocks-stat-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    margin-top: 40px;
    row-gap: 86px;
}

.img-block-soil-stat img {
    border-radius: 30px;
    max-width: 623px;
}

.title-block-soil-stat h4, .title-block-soil-stat a {
    font-size: 30px;
    line-height: 36px;
    margin: 25px 0;
    color: #000;
    font-family: 'Oranienbaum', serif;

}

.desc-content-block-soil-stat p {
    font-size: 30px;
    line-height: 36px;
    font-family: 'PT Sans', sans-serif;
    sans-serif;
}

.button-give-gift {
    width: 100%;
    height: auto;
    margin-top: 24px;
}

.button-give-gift a {
    border: 3px solid #AAA28A;
    border-radius: 30px;
    font-size: 45px;
    line-height: 53px;
    font-family: 'Oranienbaum', serif;
    color: #3E3E3E;
    display: block;
    text-align: center;
    padding: 40px 0;
}

.block-desc-gift {
    background: #AAA28A;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
}

.block-gift-desc-l {
    width: 62%;
}

.block-gift-desc-l p {
    font-size: 22px;
    line-height: 26px;
    word-break: break-word;
    font-family: 'PT Sans', sans-serif;
    sans-serif;
}

.block-buttons-gift-desc {
    display: flex;
    flex-direction: column;
}

.bttn-gift-1 {
    background: #3E3E3E;
    border-radius: 20px;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    display: block;
    text-transform: uppercase;
    width: 40%;
    font-family: Pragmatica-medium, sans-serif;
    padding: 27px 0;
}

.bttn-gift-2 {
    margin-top: 10px;
    font-size: 18px;
    font-family: Pragmatica-medium, sans-serif;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
}

.blocks-chips {
    background: #B39F55;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 40px;
}

.blocks-chips-no-back {
    border: 3px solid #B39F55;
    display: flex;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    padding: 40px;
}

.title-chips h3, .title-chips a {
    font-size: 22px;
    line-height: 27px;
    color: #3E3E3E;
    font-family: 'Oranienbaum', serif;

    text-transform: uppercase;
    margin: 20px 0;
}

.desc-chips p {
    margin: 0;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    sans-serif;
    line-height: 28px;
    text-align: center;
    color: #3E3E3E;

}

.block-chips {
    width: 28%;
}

.lines-chips {
    margin-top: 50px;
}

.line-zachemto {
    position: relative;
}

.line-zachemto:after {
    content: '';
    width: 100px;
    height: 10px;
    background-image: url(../../assest/img/wvae.svg);
    position: absolute;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.width-otziv {
    width: 1230px;
}

.slick-prev:before {
    content: '' !important;
    background-image: url(../../assest/img/arrow-left.svg);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    right: -42%;
}

.slick-next:before {
    content: '' !important;
    background-image: url(../../assest/img/arrow-right.svg);
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: -42%;
}

.height-pd {
    margin-bottom: 60px;
}

.height-pd h2 {
    margin-top: 62px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: auto;
    background: #4a585a;
}

.logo-footer img {
    width: 100px;
}

.socials li {
    display: inline-block;
    padding: 0 5px;
}

.socials {
    padding: 0;
}

.color-invert {
    filter: invert(100%);
}

.copy {
    margin-top: 1.25rem;
    line-height: 1.55;
    font-size: 1.1rem;
    color: #fff;
}

.blocks-footer {
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
}

.desc-f-b {
    padding: 0;
}

.desc-f-b h3 {
    font-family: 'Oranienbaum', serif;
    color: #fff;
}

.desc-f-b li {
    list-style-type: none;
    margin-bottom: 0.625rem;
}

.desc-f-b li a {
    line-height: 1.55;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.block-footer-home {
    width: 25%;
}

.container {
    background-color: #eee;
    height: 100vh;
    padding: 40px;
}

.c-modal {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    overflow: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000002;
}

.c-modal__container {
    position: relative;
    margin: 156px 20px;
}

.c-modal__content {
    background: #fff;
    cursor: default;
    padding: 24px 20px 24px;
    position: relative;
    z-index: 1000003;
    max-width: 530px;
    margin: 0 auto;
}

.c-modal__content__background {
    left: 0;
    max-width: 265px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.c-modal__title {
    font: 700 21px/28px;
    margin: 0;
    padding: 0;
}

.c-modal__text {
    font: 300 16px/24px;
    padding-top: 10px;
}

.c-modal__button {
    margin-top: 20px;
}

.title-form-home {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    color: #3E3E3E;
    margin-bottom: 32px;
}

.title-form-home:before {
    content: '';
    background-image: url(../../assest/img/line-form.svg);
    width: 100%;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 6%;

}

.form-home-s label {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.form-home-s {
    width: 90%;
    margin: 0 auto;
    font-family: "PT Sans";
}

.form-home-s input {
    border: none;
    /* border: 1px solid #2D2D2D; */
    border-bottom: 1px solid #2D2D2D;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #4D4D4D;
    padding: 10px 0px 10px 10px;
    margin-bottom: 30px;
}

.check-fix input {
    margin-bottom: 0;
    width: auto;

}

.checl-ots {
    padding: 12px 0;
}

.dropdown-form {
    border: 1px solid #222222;
    background: none;
    width: 400px;
    height: 34px;
    margin: 18px 0;
}

.bttn-send-form-home {
    background: #3E3E3E;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    margin: 0px auto;
    display: block;
}

.info-p {
    text-align: center;
    color: #444444;
}

.info-p a {
    color: #444444;
    text-decoration: underline;
}

.dropdown-mobile {
    display: none;
}
@media (min-width: 1024px ) and (max-width: 1024px) {

    .logo-header img {
        width: 93px;
        padding-right: 15px;
    }

    .menu-header {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        background: #AAA28A;
        padding: 36px 12px 36px 12px;
        border-radius: 35px;
    }

    .menu-header {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        background: #AAA28A;
        padding: 36px 12px 36px 12px;
        border-radius: 35px;
    }
}

@media (max-width: 800px) {
    .menu-header {
        display: none;
    }

    .dropdown-form {
        border: 1px solid #222222;
        background: none;
        width: 100%;
        height: 34px;
        margin: 18px 0;
    }

    .line-up-h {
        display: none;
    }
    .up-tabs, .down-tabs {
        display: none !important;
    }
    .wrap-text {
        display: none;
    }
    .dropdown-mobile {
        display: block;
    }
    .logo-header img {
        width: 88px;
        padding-right: 0;
        margin-top: 10px;
    }


    .width-fix {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .f-blocks-header-banner {
        display: flex;
        align-items: revert;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 0;
    }

    .block-right-header-banner img {
        width: 122px;
    }

    .in-header-left-banner-blocks {
        margin-top: 10px;
    }

    .block-header-title h1 {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        margin: 0;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #020202;
    }

    .block-right-header-banner {
        text-align: center;
    }

    .block-text-in-header {
        max-width: 561px;
        margin: 15px 0 23px 0;
    }

    .block-text-in-header h4 {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3E3E3E;
    }

    .two-blocks-footer-in-header a {
        font-size: 10px;
        line-height: 12px;
        padding: 16px 0px 16px 0px;
        text-align: center;
    }

    .bttn-l-in-header {
        width: 50%;
    }

    .bttn-l-in-header a {
        min-width: 146px;
    }

    .two-blocks-footer-in-header {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: stretch;
        max-width: 677px;
    }

    .bttn-r-in-header a {
        min-width: 183px;
    }

    .block-full-width-in-header a {
        padding: 16px;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
    }

    .line-decor {
        display: none;
    }

    .master-klass h2 {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 24px;
        color: #3E3E3E;
        margin-top: 14px;
    }

    .line-decor-2 {
        width: 100%;
        height: 32px;
        margin-top: 42px;
    }

    .flex-result-tab {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .img-block-f-result-tab img {
        width: 100%;

        border-radius: 30px 30px 0 0;
    }

    .button-give-gift a {

        padding: 19px 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        font-weight: 700;
        color: #3E3E3E;
    }

    .block-desc-gift {
        background: #AAA28A;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 21px;
    }

    .blocks-stat-d {
        display: -webkit-inline-box;
        overflow: scroll;
        column-gap: 64px;
        margin-top: 40px;
        row-gap: 86px;
        width: 100%;
    }

    .img-block-soil-stat img {
        border-radius: 30px;
        width: 100%;
    }

    .title-block-soil-stat h4, .title-block-soil-stat a {
        margin: 13px 0;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
        text-align: center;
    }

    .desc-content-block-soil-stat p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
    }

    .block-gift-desc-l p {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #000000;
    }

    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: block;
    }

    .bttn-gift-1 {
        background: #3E3E3E;
        border-radius: 20px;
        color: #FFFFFF;
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 77%;
        padding: 12px 0;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .bttn-gift-2 {
        margin-top: 10px;
        text-decoration-line: underline;
        font-size: 8px;
        line-height: 9px;
        color: #2D2D2D;
        padding-bottom: 10px;
        display: block;
    }

    .block-gift-desc-r img {
        width: 177px;
    }

    .blocks-chips {
        padding: 15px;
    }

    .title-chips h3, .title-chips a {
        margin: 10px 0;
        font-size: 14px;
        line-height: 17px;
        color: #3E3E3E;
    }

    .img-chips img {
        width: 90px;
    }

    .desc-chips p {
        margin: 0;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: #3E3E3E;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3E3E3E;
    }

    .blocks-chips-no-back {
        padding: 15px;
    }

    .block-footer-home {
        width: 90%;
        margin: 0 auto;
    }

    .blocks-footer {
        display: flex;
        align-items: center;
        padding: 40px 0;
        text-align: center;
        flex-direction: column;
    }
}

.links {
    border: 3px solid #B39F55;
    border-radius: 30px;
    display: flex;

}
.links span {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 25px 0;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.up-tabs span.active, .down-tabs span.active {
    background: #B39F55;
    color: #000;
    text-align: center;
    border-radius: 30px;
}
.wrap-text {
    width: 100%;
    padding: 25px 0;
    font-size: 16px;
    line-height: 1.5;
}
.text p {
    text-align: left;
    width: 100%;
    font-size: 16px;
    margin: 0 0 15px;
}

.none {display: none}
.tab_select {margin-top: 15px;}
.dropdown-mobile select {
    border: 2px solid #B39F55;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    background: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    font-family: 'PT Sans';
    padding: 12px 0;
}